<div class="" style="margin-top: 50px;">
  <!--nav id="nav">
    <ul style="padding: 0px;">
      <li><a href="#">TABLAS</a></li>
      <li><a href="#">ZAPATILLAS</a></li>
      <li><a href="#">ROPA</a></li>
    </ul>
  </nav-->
  <div class="container" style="margin-top: 50px;">
    <h3 class="article-title">Ropa/Remeras</h3>

    <div class="" *ngIf="products">
      <div id="articles">
        <article class="article">
          <h3 class="article-title">{{title}}</h3>
          <div class="cards" *ngFor="let product of products">
            <div class="card">
              <img class="card-img-top" src="assets/imgs-art/tablas/t1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="price">{{product.price}}</p>
              </div>
            </div>
          </div>
        </article>
        <h5 class="vm">Ver más>></h5>
      </div>
    </div>

    <!--div class="">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>

      </div>
    </div-->

  </div>
</div>
