<div class="" style="margin-top: 50px;">
  <!--nav id="nav">
    <ul style="padding: 0px;">
      <li><a href="#">TABLAS</a></li>
      <li><a href="#">ZAPATILLAS</a></li>
      <li><a href="#">ROPA</a></li>
    </ul>
  </nav-->
  <div class="container" style="margin-top: 50px;">
    <h3 class="article-title">Remeras</h3>

    <div class="">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <img class="card-img-top" src="assets/imgs-art/remeras/hpr1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Remera surtrash</h5>
              <p class="price">50$</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
